./scripts/git/set-git-env.sh

if ! has nix_direnv_version; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc" "sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4="
fi

if ! use flake .#default --impure --accept-flake-config --print-build-logs
then
  echo "nix flake could not be built; update flake.nix and run direnv allow/reload" >&2
fi

printf "\nrun \`nix flake update --impure && nix flake check --impure\` to update the flake lockfile."
printf "\nuse \`direnv revoke\` to unload the dev environment or \`direnv allow\` to reload it.\n\n"

watch_file nix/pkgs/default.nix
watch_file nix/containers/default.nix
watch_file nix/poetry/default.nix
watch_file poetry.lock

dotenv
printf "\n$GIT_REPO_NAME $GIT_REF $GIT_SHA_SHORT $GIT_SHA\n\n"
