dev/cluster/pyrovelocity/nixbuild/cue.mod/** linguist-vendored=true
dev/cluster/pyrovelocity/pyrovelocitydev/cue.mod/** linguist-vendored=true
docs/** linguist-documentation=true
Makefile linguist-detectable=false
nbs/** linguist-documentation=true
reproducibility/** linguist-detectable=false
scripts/** linguist-detectable=false
