exclude: |
  (?x)^(
    conda/recipe/meta.yaml|
    conda/conda-lock.yml|
    nbs/_freeze/.*|
    nbs/templates/user_example/.*\.yaml|
    reproducibility/figures/models/.*|
    reproducibility/figures/config.yaml|
    CHANGELOG.md|
    flake.lock|
    .git/COMMIT_EDITMSG|
    dev
  )$
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: [--target-version, py37, --line-length, "80"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: nix-fmt
        name: Format nix flake
        entry: ./scripts/nixfmt
        language: script
      - id: cue-fmt
        name: Format CUE modules
        entry: ./scripts/cuefmt
        language: script
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: [nix-fmt, cue-fmt]
  submodules: false
