--extra-index-url https://download.pytorch.org/whl/cpu

absl-py==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
adjusttext==0.7.3 ; python_version >= "3.10" and python_version < "3.11"
adlfs==2023.8.0 ; python_version >= "3.10" and python_version < "3.11"
aiobotocore==2.5.4 ; python_version >= "3.10" and python_version < "3.11"
aiohttp==3.8.4 ; python_version >= "3.10" and python_version < "3.11"
aioitertools==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
alabaster==0.7.13 ; python_version >= "3.10" and python_version < "3.11"
alembic==1.10.4 ; python_version >= "3.10" and python_version < "3.11"
anndata==0.10.5 ; python_version >= "3.10" and python_version < "3.11"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.10" and python_version < "3.11"
anyio==4.2.0 ; python_version >= "3.10" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform == "darwin" or platform_system == "Darwin")
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "3.11"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
array-api-compat==1.4.1 ; python_version >= "3.10" and python_version < "3.11"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
astropy==5.2.2 ; python_version >= "3.10" and python_version < "3.11"
asttokens==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
async-lru==2.0.4 ; python_version >= "3.10" and python_version < "3.11"
async-timeout==4.0.2 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
azure-core==1.29.6 ; python_version >= "3.10" and python_version < "3.11"
azure-datalake-store==0.0.53 ; python_version >= "3.10" and python_version < "3.11"
azure-identity==1.15.0 ; python_version >= "3.10" and python_version < "3.11"
azure-storage-blob==12.19.0 ; python_version >= "3.10" and python_version < "3.11"
babel==2.12.1 ; python_version >= "3.10" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
beartype==0.16.4 ; python_version >= "3.10" and python_version < "3.11"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "3.11"
binaryornot==0.4.4 ; python_version >= "3.10" and python_version < "3.11"
black==23.3.0 ; python_version >= "3.10" and python_version < "3.11"
bleach==6.1.0 ; python_version >= "3.10" and python_version < "3.11"
botocore==1.31.17 ; python_version >= "3.10" and python_version < "3.11"
cachetools==5.3.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2022.12.7 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "3.11"
cfgv==3.3.1 ; python_version >= "3.10" and python_version < "3.11"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "3.11"
chex==0.1.85 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.11"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
colorlog==6.7.0 ; python_version >= "3.10" and python_version < "3.11"
comm==0.2.1 ; python_version >= "3.10" and python_version < "3.11"
commonmark==0.9.1 ; python_version >= "3.10" and python_version < "3.11"
contextlib2==21.6.0 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.0.7 ; python_version >= "3.10" and python_version < "3.11"
cookiecutter==2.5.0 ; python_version >= "3.10" and python_version < "3.11"
coverage[toml]==7.2.3 ; python_version >= "3.10" and python_version < "3.11"
croniter==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
cryptography==40.0.2 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
databricks-cli==0.17.6 ; python_version >= "3.10" and python_version < "3.11"
dataclasses-json==0.5.9 ; python_version >= "3.10" and python_version < "3.11"
debugpy==1.8.0 ; python_version >= "3.10" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.11"
diskcache==5.6.1 ; python_version >= "3.10" and python_version < "3.11"
distlib==0.3.6 ; python_version >= "3.10" and python_version < "3.11"
docker==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
docrep==0.3.2 ; python_version >= "3.10" and python_version < "3.11"
docstring-parser==0.15 ; python_version >= "3.10" and python_version < "3.11"
docutils==0.19 ; python_version >= "3.10" and python_version < "3.11"
dulwich==0.21.7 ; python_version >= "3.10" and python_version < "3.11"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "3.11"
etils[epath,epy]==1.7.0 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
fastjsonschema==2.19.1 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.11.0 ; python_version >= "3.10" and python_version < "3.11"
flask==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
flax==0.8.1 ; python_version >= "3.10" and python_version < "3.11"
flyteidl==1.10.6 ; python_version >= "3.10" and python_version < "3.11"
flytekit==1.10.3 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.39.3 ; python_version >= "3.10" and python_version < "3.11"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
frozenlist==1.3.3 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2023.5.0 ; python_version >= "3.10" and python_version < "3.11"
fsspec[http]==2023.5.0 ; python_version >= "3.10" and python_version < "3.11"
furo==2023.5.20 ; python_version >= "3.10" and python_version < "3.11"
gcsfs==2023.5.0 ; python_version >= "3.10" and python_version < "3.11"
gitdb==4.0.10 ; python_version >= "3.10" and python_version < "3.11"
gitpython==3.1.31 ; python_version >= "3.10" and python_version < "3.11"
google-api-core==2.11.0 ; python_version >= "3.10" and python_version < "3.11"
google-api-python-client==2.119.0 ; python_version >= "3.10" and python_version < "3.11"
google-auth-httplib2==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
google-auth-oauthlib==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
google-auth==2.17.3 ; python_version >= "3.10" and python_version < "3.11"
google-cloud-core==2.3.2 ; python_version >= "3.10" and python_version < "3.11"
google-cloud-storage==2.8.0 ; python_version >= "3.10" and python_version < "3.11"
google-crc32c==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
google-resumable-media==2.4.1 ; python_version >= "3.10" and python_version < "3.11"
googleapis-common-protos==1.59.0 ; python_version >= "3.10" and python_version < "3.11"
greenlet==2.0.2 ; python_version >= "3.10" and python_version < "3.11" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio-status==1.60.0 ; python_version >= "3.10" and python_version < "3.11"
grpcio==1.60.0 ; python_version >= "3.10" and python_version < "3.11"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "3.11" and platform_system != "Windows"
h5py==3.8.0 ; python_version >= "3.10" and python_version < "3.11"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
hydra-core==1.3.2 ; python_version >= "3.10" and python_version < "3.11"
hydra-zen==0.10.0 ; python_version >= "3.10" and python_version < "3.11"
hypothesis==6.72.1 ; python_version >= "3.10" and python_version < "3.11"
identify==2.5.23 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
igraph==0.10.4 ; python_version >= "3.10" and python_version < "3.11"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "3.11"
importlib-metadata==6.6.0 ; python_version >= "3.10" and python_version < "3.11"
importlib-resources==6.1.2 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
ipykernel==6.28.0 ; python_version >= "3.10" and python_version < "3.11"
ipython==8.13.1 ; python_version >= "3.10" and python_version < "3.11"
isodate==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.11"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "3.11"
jaraco-classes==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
jax==0.4.23 ; python_version >= "3.10" and python_version < "3.11"
jaxlib==0.4.23 ; python_version >= "3.10" and python_version < "3.11"
jaxtyping==0.2.25 ; python_version >= "3.10" and python_version < "3.11"
jedi==0.18.2 ; python_version >= "3.10" and python_version < "3.11"
jeepney==0.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
joblib==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
json5==0.9.14 ; python_version >= "3.10" and python_version < "3.11"
jsonpickle==3.0.1 ; python_version >= "3.10" and python_version < "3.11"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.17.3 ; python_version >= "3.10" and python_version < "3.11"
jsonschema[format-nongpl]==4.17.3 ; python_version >= "3.10" and python_version < "3.11"
jupyter-cache==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
jupyter-client==8.6.0 ; python_version >= "3.10" and python_version < "3.11"
jupyter-core==5.3.0 ; python_version >= "3.10" and python_version < "3.11"
jupyter-events==0.6.3 ; python_version >= "3.10" and python_version < "3.11"
jupyter-lsp==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
jupyter-server-terminals==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
jupyter-server==2.10.0 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-server==2.24.0 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab==4.0.9 ; python_version >= "3.10" and python_version < "3.11"
jupytext==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
keyring==24.3.0 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "3.11"
kubernetes==29.0.0 ; python_version >= "3.10" and python_version < "3.11"
leidenalg==0.9.1 ; python_version >= "3.10" and python_version < "3.11"
lightning-utilities==0.8.0 ; python_version >= "3.10" and python_version < "3.11"
lightning==2.1.4 ; python_version >= "3.10" and python_version < "3.11"
livereload==2.6.3 ; python_version >= "3.10" and python_version < "3.11"
llvmlite==0.41.1 ; python_version >= "3.10" and python_version < "3.11"
loompy==3.0.7 ; python_version >= "3.10" and python_version < "3.11"
mako==1.2.4 ; python_version >= "3.10" and python_version < "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
markdown==3.4.3 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.2 ; python_version >= "3.10" and python_version < "3.11"
marshmallow-enum==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
marshmallow-jsonschema==0.13.0 ; python_version >= "3.10" and python_version < "3.11"
marshmallow==3.19.0 ; python_version >= "3.10" and python_version < "3.11"
mashumaro==3.10 ; python_version >= "3.10" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.7.1 ; python_version >= "3.10" and python_version < "3.11"
mdit-py-plugins==0.4.0 ; python_version >= "3.10" and python_version < "3.11"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
mistune==3.0.2 ; python_version >= "3.10" and python_version < "3.11"
ml-collections==0.1.1 ; python_version >= "3.10" and python_version < "3.11"
ml-dtypes==0.3.1 ; python_version >= "3.10" and python_version < "3.11"
mlflow==2.10.0 ; python_version >= "3.10" and python_version < "3.11"
more-itertools==10.2.0 ; python_version >= "3.10" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
msal-extensions==1.1.0 ; python_version >= "3.10" and python_version < "3.11"
msal==1.26.0 ; python_version >= "3.10" and python_version < "3.11"
msgpack==1.0.5 ; python_version >= "3.10" and python_version < "3.11"
mudata==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "3.11"
multipledispatch==0.6.0 ; python_version >= "3.10" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
mypy==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
myst-parser==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
natsort==8.3.1 ; python_version >= "3.10" and python_version < "3.11"
nbclient==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
nbconvert==7.14.0 ; python_version >= "3.10" and python_version < "3.11"
nbformat==5.9.2 ; python_version >= "3.10" and python_version < "3.11"
nbsphinx==0.9.3 ; python_version >= "3.10" and python_version < "3.11"
nest-asyncio==1.5.6 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.11"
nodeenv==1.7.0 ; python_version >= "3.10" and python_version < "3.11"
notebook-shim==0.2.3 ; python_version >= "3.10" and python_version < "3.11"
numba==0.58.1 ; python_version >= "3.10" and python_version < "3.11"
numpy-groupies==0.9.20 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.26.2 ; python_version >= "3.10" and python_version < "3.11"
numpyro==0.13.2 ; python_version >= "3.10" and python_version < "3.11"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.11"
omegaconf==2.3.0 ; python_version >= "3.10" and python_version < "3.11"
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
optax==0.1.5 ; python_version >= "3.10" and python_version < "3.11"
orbax-checkpoint==0.5.3 ; python_version >= "3.10" and python_version < "3.11"
overrides==7.4.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.11"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
papermill==2.5.0 ; python_version >= "3.10" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.11"
pastel==0.2.1 ; python_version >= "3.10" and python_version < "3.11"
pathspec==0.11.1 ; python_version >= "3.10" and python_version < "3.11"
patsy==0.5.3 ; python_version >= "3.10" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "3.11"
pillow==9.5.0 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
poethepoet==0.19.0 ; python_version >= "3.10" and python_version < "3.11"
portalocker==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
pre-commit-hooks==4.4.0 ; python_version >= "3.10" and python_version < "3.11"
pre-commit==3.2.2 ; python_version >= "3.10" and python_version < "3.11"
prometheus-client==0.19.0 ; python_version >= "3.10" and python_version < "3.11"
prompt-toolkit==3.0.38 ; python_version >= "3.10" and python_version < "3.11"
protobuf==4.24.4 ; python_version >= "3.10" and python_version < "3.11"
protoc-gen-swagger==0.1.0 ; python_version >= "3.10" and python_version < "3.11"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform != "win32" or os_name != "nt")
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
pyarrow==11.0.0 ; python_version >= "3.10" and python_version < "3.11"
pyasn1-modules==0.2.8 ; python_version >= "3.10" and python_version < "3.11"
pyasn1==0.4.8 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11"
pyerfa==2.0.0.3 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.15.0 ; python_version >= "3.10" and python_version < "3.11"
pyjwt==2.6.0 ; python_version >= "3.10" and python_version < "3.11"
pyjwt[crypto]==2.6.0 ; python_version >= "3.10" and python_version < "3.11"
pynndescent==0.5.10 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.11"
pyperclip==1.8.2 ; python_version >= "3.10" and python_version < "3.11"
pyro-api==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
pyro-ppl==1.8.6 ; python_version >= "3.10" and python_version < "3.11"
pyrsistent==0.19.3 ; python_version >= "3.10" and python_version < "3.11"
pytest-asyncio==0.21.1 ; python_version >= "3.10" and python_version < "3.11"
pytest-cov==4.0.0 ; python_version >= "3.10" and python_version < "3.11"
pytest-mock==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
pytest==7.3.1 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "3.11"
python-slugify==8.0.1 ; python_version >= "3.10" and python_version < "3.11"
pytimeparse==1.1.8 ; python_version >= "3.10" and python_version < "3.11"
pytorch-lightning==2.1.4 ; python_version >= "3.10" and python_version < "3.11"
pytz==2022.7.1 ; python_version >= "3.10" and python_version < "3.11"
pywin32-ctypes==0.2.2 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
pywin32==306 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform == "win32" or platform_system == "Windows")
pywinpty==2.0.12 ; python_version >= "3.10" and python_version < "3.11" and os_name == "nt"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
pyzmq==25.1.2 ; python_version >= "3.10" and python_version < "3.11"
querystring-parser==1.2.4 ; python_version >= "3.10" and python_version < "3.11"
requests-mock==1.11.0 ; python_version >= "3.10" and python_version < "3.11"
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
requests==2.28.2 ; python_version >= "3.10" and python_version < "3.11"
returns==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.11"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.11"
rich-click==1.7.3 ; python_version >= "3.10" and python_version < "3.11"
rich==12.6.0 ; python_version >= "3.10" and python_version < "3.11"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.11"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.10"
ruamel-yaml==0.17.21 ; python_version >= "3.10" and python_version < "3.11"
ruff==0.1.5 ; python_version >= "3.10" and python_version < "3.11"
s3fs==2023.5.0 ; python_version >= "3.10" and python_version < "3.11"
scanpy==1.9.8 ; python_version >= "3.10" and python_version < "3.11"
scikit-learn==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.10.1 ; python_version >= "3.10" and python_version < "3.11"
scvelo==0.3.1 ; python_version >= "3.10" and python_version < "3.11"
scvi-tools==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
seaborn==0.13.2 ; python_version >= "3.10" and python_version < "3.11"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
send2trash==1.8.2 ; python_version >= "3.10" and python_version < "3.11"
session-info==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
setuptools==67.7.2 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
smmap==5.0.0 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.11"
soupsieve==2.4.1 ; python_version >= "3.10" and python_version < "3.11"
sphinx-autobuild==2021.3.14 ; python_version >= "3.10" and python_version < "3.11"
sphinx-autodoc-typehints==1.23.3 ; python_version >= "3.10" and python_version < "3.11"
sphinx-basic-ng==1.0.0b1 ; python_version >= "3.10" and python_version < "3.11"
sphinx-click==4.4.0 ; python_version >= "3.10" and python_version < "3.11"
sphinx-copybutton==0.5.2 ; python_version >= "3.10" and python_version < "3.11"
sphinx==7.0.1 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy==2.0.10 ; python_version >= "3.10" and python_version < "3.11"
sqlparse==0.4.3 ; python_version >= "3.10" and python_version < "3.11"
stack-data==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
statsd==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
statsmodels==0.13.5 ; python_version >= "3.10" and python_version < "3.11"
stdlib-list==0.8.0 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.11"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "3.11"
tensorstore==0.1.54 ; python_version >= "3.10" and python_version < "3.11"
termcolor==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
terminado==0.18.0 ; python_version >= "3.10" and python_version < "3.11"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "3.11"
texttable==1.6.7 ; python_version >= "3.10" and python_version < "3.11"
threadpoolctl==3.1.0 ; python_version >= "3.10" and python_version < "3.11"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.11"
torch==2.1.2+cpu ; python_version >= "3.10" and python_version < "3.11" and (sys_platform == "linux" or platform_system == "Linux")
torch==2.1.2 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform == "darwin" or platform_system == "Darwin")
torchmetrics==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.3 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.65.0 ; python_version >= "3.10" and python_version < "3.11"
traitlets==5.9.0 ; python_version >= "3.10" and python_version < "3.11"
triton==2.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
typeguard==2.13.3 ; python_version >= "3.10" and python_version < "3.11"
types-python-dateutil==2.8.19.14 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "3.11"
typing-inspect==0.8.0 ; python_version >= "3.10" and python_version < "3.11"
umap-learn==0.5.3 ; python_version >= "3.10" and python_version < "3.11"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.11"
urllib3==1.26.15 ; python_version >= "3.10" and python_version < "3.11"
validators==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
virtualenv==20.21.0 ; python_version >= "3.10" and python_version < "3.11"
waitress==2.1.2 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Windows"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "3.11"
webcolors==1.13 ; python_version >= "3.10" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
websocket-client==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
werkzeug==2.3.3 ; python_version >= "3.10" and python_version < "3.11"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
xdoctest==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
xdoctest[colors]==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
yarl==1.9.1 ; python_version >= "3.10" and python_version < "3.11"
zipp==3.15.0 ; python_version >= "3.10" and python_version < "3.11"
zstandard==0.21.0 ; python_version >= "3.10" and python_version < "3.11"
