/*-- scss:defaults --*/
$spacer: 1rem;
$navbar-padding-y: $spacer * 0.5;
$body-color: #dfdfd6;
$primary: #1b1b1f;
$body-bg: #1b1b1f;
$link-color: #ffb343;
// $sidebar-bg: #161618;
$code-bg: #161618;
$code-color: #ff6a14;
