base:
  log_level: INFO
paths:
  data: data
  models: models
  reports: reports
data_external:
  root_path: data/external
  processed_path: data/processed
  sources:
    - velocyto
    - scvelo
    - pyrovelocity
  velocyto:
    download:
      - pons
    process:
      - pons
    sources:
      gcs_root_url: https://storage.googleapis.com/pyrovelocity/data
    pons:
      data_file: oligo_lite.h5ad
      dl_root: data/external
      dl_path: data/external/oligo_lite.h5ad
      rel_path: data/external/oligo_lite.h5ad
      url: https://storage.googleapis.com/pyrovelocity/data/oligo_lite.h5ad
      derived:
        process_method: load_data
        rel_path: data/processed/pons_processed.h5ad
  scvelo:
    download:
      - pancreas
      - pbmc68k
    process:
      - pancreas
      - pbmc68k
    sources:
      figshare_root_url: https://ndownloader.figshare.com/files
      scvelo_root_url: https://github.com/theislab/scvelo_notebooks/raw/master
    pancreas:
      data_file: endocrinogenesis_day15.h5ad
      dl_root: data/Pancreas
      dl_path: data/Pancreas/endocrinogenesis_day15.h5ad
      rel_path: data/external/endocrinogenesis_day15.h5ad
      url: https://github.com/theislab/scvelo_notebooks/raw/master/data/Pancreas/endocrinogenesis_day15.h5ad
      derived:
        process_method: load_data
        rel_path: data/processed/pancreas_processed.h5ad
    pbmc68k:
      data_file: pbmc68k.h5ad
      dl_root: data/PBMC
      dl_path: data/PBMC/pbmc68k.h5ad
      rel_path: data/external/pbmc68k.h5ad
      url: https://ndownloader.figshare.com/files/27686886
      derived:
        process_method: load_data
        rel_path: data/processed/pbmc68k_processed.h5ad
  pyrovelocity:
    download:
      - larry
    process: []
    sources:
      figshare_root_url: https://ndownloader.figshare.com/files
    larry:
      data_file: larry.h5ad
      dl_root: data/external
      dl_path: data/external/larry.h5ad
      rel_path: data/external/larry.h5ad
      url: https://ndownloader.figshare.com/files/37028569
      derived:
        process_method: ""
        rel_path: data/processed/larry_processed.h5ad
model_training:
  train:
    - pancreas_model1
    - pancreas_model2
    - pbmc68k_model1
    - pbmc68k_model2
    - pons_model1
    - pons_model2
  pancreas_model1:
    path: models/pancreas_model1
    model_path: models/pancreas_model1/model
    input_data_path: data/processed/pancreas_processed.h5ad
    trained_data_path: models/pancreas_model1/trained.h5ad
    pyrovelocity_data_path: models/pancreas_model1/pyrovelocity.pkl
    metrics_path: models/pancreas_model1/metrics.json
    run_info_path: models/pancreas_model1/run_info.json
    vector_field_parameters:
      basis: umap
    training_parameters:
      _target_: pyrovelocity.api.train_model
      _partial_: true
      guide_type: auto_t0_constraint
      model_type: auto
      svi_train: false
      batch_size: -1
      train_size: 1.0
      use_gpu: 0
      likelihood: Poisson
      num_samples: 30
      log_every: 100
      cell_state: clusters
      patient_improve: 0.0001
      patient_init: 45
      seed: 99
      lr: 0.01
      max_epochs: 4000
      include_prior: true
      library_size: true
      offset: false
      input_type: raw
      cell_specific_kinetics: null
      kinetics_num: 2
      loss_plot_path: models/pancreas_model1/loss_plot.png
  pancreas_model2:
    path: models/pancreas_model2
    model_path: models/pancreas_model2/model
    input_data_path: data/processed/pancreas_processed.h5ad
    trained_data_path: models/pancreas_model2/trained.h5ad
    pyrovelocity_data_path: models/pancreas_model2/pyrovelocity.pkl
    metrics_path: models/pancreas_model2/metrics.json
    run_info_path: models/pancreas_model2/run_info.json
    vector_field_parameters:
      basis: umap
    training_parameters:
      _target_: pyrovelocity.api.train_model
      _partial_: true
      guide_type: auto
      model_type: auto
      svi_train: false
      batch_size: -1
      train_size: 1.0
      use_gpu: 0
      likelihood: Poisson
      num_samples: 30
      log_every: 100
      cell_state: clusters
      patient_improve: 0.0001
      patient_init: 45
      seed: 99
      lr: 0.01
      max_epochs: 4000
      include_prior: true
      library_size: true
      offset: true
      input_type: raw
      cell_specific_kinetics: null
      kinetics_num: 2
      loss_plot_path: models/pancreas_model2/loss_plot.png
  pbmc68k_model1:
    path: models/pbmc68k_model1
    model_path: models/pbmc68k_model1/model
    input_data_path: data/processed/pbmc68k_processed.h5ad
    trained_data_path: models/pbmc68k_model1/trained.h5ad
    pyrovelocity_data_path: models/pbmc68k_model1/pyrovelocity.pkl
    metrics_path: models/pbmc68k_model1/metrics.json
    run_info_path: models/pbmc68k_model1/run_info.json
    vector_field_parameters:
      basis: tsne
    training_parameters:
      _target_: pyrovelocity.api.train_model
      _partial_: true
      guide_type: auto_t0_constraint
      model_type: auto
      svi_train: false
      batch_size: -1
      train_size: 1.0
      use_gpu: 0
      likelihood: Poisson
      num_samples: 30
      log_every: 100
      cell_state: celltype
      patient_improve: 0.0001
      patient_init: 45
      seed: 99
      lr: 0.01
      max_epochs: 4000
      include_prior: true
      library_size: true
      offset: false
      input_type: raw
      cell_specific_kinetics: null
      kinetics_num: 2
      loss_plot_path: models/pbmc68k_model1/loss_plot.png
  pbmc68k_model2:
    path: models/pbmc68k_model2
    model_path: models/pbmc68k_model2/model
    input_data_path: data/processed/pbmc68k_processed.h5ad
    trained_data_path: models/pbmc68k_model2/trained.h5ad
    pyrovelocity_data_path: models/pbmc68k_model2/pyrovelocity.pkl
    metrics_path: models/pbmc68k_model2/metrics.json
    run_info_path: models/pbmc68k_model2/run_info.json
    vector_field_parameters:
      basis: tsne
    training_parameters:
      _target_: pyrovelocity.api.train_model
      _partial_: true
      guide_type: auto
      model_type: auto
      svi_train: false
      batch_size: -1
      train_size: 1.0
      use_gpu: 0
      likelihood: Poisson
      num_samples: 30
      log_every: 100
      cell_state: celltype
      patient_improve: 0.0001
      patient_init: 45
      seed: 99
      lr: 0.01
      max_epochs: 4000
      include_prior: true
      library_size: true
      offset: true
      input_type: raw
      cell_specific_kinetics: null
      kinetics_num: 2
      loss_plot_path: models/pbmc68k_model2/loss_plot.png
  pons_model1:
    path: models/pons_model1
    model_path: models/pons_model1/model
    input_data_path: data/processed/pons_processed.h5ad
    trained_data_path: models/pons_model1/trained.h5ad
    pyrovelocity_data_path: models/pons_model1/pyrovelocity.pkl
    metrics_path: models/pons_model1/metrics.json
    run_info_path: models/pons_model1/run_info.json
    vector_field_parameters:
      basis: umap
    training_parameters:
      _target_: pyrovelocity.api.train_model
      _partial_: true
      guide_type: auto_t0_constraint
      model_type: auto
      svi_train: false
      batch_size: -1
      train_size: 1.0
      use_gpu: 0
      likelihood: Poisson
      num_samples: 30
      log_every: 100
      cell_state: celltype
      patient_improve: 0.0001
      patient_init: 45
      seed: 99
      lr: 0.01
      max_epochs: 4000
      include_prior: true
      library_size: true
      offset: false
      input_type: raw
      cell_specific_kinetics: null
      kinetics_num: 2
      loss_plot_path: models/pons_model1/loss_plot.png
  pons_model2:
    path: models/pons_model2
    model_path: models/pons_model2/model
    input_data_path: data/processed/pons_processed.h5ad
    trained_data_path: models/pons_model2/trained.h5ad
    pyrovelocity_data_path: models/pons_model2/pyrovelocity.pkl
    metrics_path: models/pons_model2/metrics.json
    run_info_path: models/pons_model2/run_info.json
    vector_field_parameters:
      basis: umap
    training_parameters:
      _target_: pyrovelocity.api.train_model
      _partial_: true
      guide_type: auto
      model_type: auto
      svi_train: false
      batch_size: -1
      train_size: 1.0
      use_gpu: 0
      likelihood: Poisson
      num_samples: 30
      log_every: 100
      cell_state: celltype
      patient_improve: 0.0001
      patient_init: 45
      seed: 99
      lr: 0.01
      max_epochs: 4000
      include_prior: true
      library_size: true
      offset: true
      input_type: raw
      cell_specific_kinetics: null
      kinetics_num: 2
      loss_plot_path: models/pons_model2/loss_plot.png
reports:
  model_summary:
    summarize:
      - pancreas_model1
      - pancreas_model2
      - pbmc68k_model1
      - pbmc68k_model2
      - pons_model1
      - pons_model2
    pancreas_model1:
      path: reports/pancreas_model1
      shared_time_plot: reports/pancreas_model1/shared_time.pdf
      volcano_plot: reports/pancreas_model1/volcano.pdf
      rainbow_plot: reports/pancreas_model1/rainbow.pdf
      uncertainty_param_plot: reports/pancreas_model1/param_uncertainties.pdf
      vector_field_plot: reports/pancreas_model1/vector_field.pdf
      biomarker_selection_plot: reports/pancreas_model1/markers_selection_scatterplot.tif
      biomarker_phaseportrait_plot: reports/pancreas_model1/markers_phaseportrait.pdf
    pancreas_model2:
      path: reports/pancreas_model2
      shared_time_plot: reports/pancreas_model2/shared_time.pdf
      volcano_plot: reports/pancreas_model2/volcano.pdf
      rainbow_plot: reports/pancreas_model2/rainbow.pdf
      uncertainty_param_plot: reports/pancreas_model2/param_uncertainties.pdf
      vector_field_plot: reports/pancreas_model2/vector_field.pdf
      biomarker_selection_plot: reports/pancreas_model2/markers_selection_scatterplot.tif
      biomarker_phaseportrait_plot: reports/pancreas_model2/markers_phaseportrait.pdf
    pbmc68k_model1:
      path: reports/pbmc68k_model1
      shared_time_plot: reports/pbmc68k_model1/shared_time.pdf
      volcano_plot: reports/pbmc68k_model1/volcano.pdf
      rainbow_plot: reports/pbmc68k_model1/rainbow.pdf
      uncertainty_param_plot: reports/pbmc68k_model1/param_uncertainties.pdf
      vector_field_plot: reports/pbmc68k_model1/vector_field.pdf
      biomarker_selection_plot: reports/pbmc68k_model1/markers_selection_scatterplot.tif
      biomarker_phaseportrait_plot: reports/pbmc68k_model1/markers_phaseportrait.pdf
    pbmc68k_model2:
      path: reports/pbmc68k_model2
      shared_time_plot: reports/pbmc68k_model2/shared_time.pdf
      volcano_plot: reports/pbmc68k_model2/volcano.pdf
      rainbow_plot: reports/pbmc68k_model2/rainbow.pdf
      uncertainty_param_plot: reports/pbmc68k_model2/param_uncertainties.pdf
      vector_field_plot: reports/pbmc68k_model2/vector_field.pdf
      biomarker_selection_plot: reports/pbmc68k_model2/markers_selection_scatterplot.tif
      biomarker_phaseportrait_plot: reports/pbmc68k_model2/markers_phaseportrait.pdf
    pons_model1:
      path: reports/pons_model1
      shared_time_plot: reports/pons_model1/shared_time.pdf
      volcano_plot: reports/pons_model1/volcano.pdf
      rainbow_plot: reports/pons_model1/rainbow.pdf
      uncertainty_param_plot: reports/pons_model1/param_uncertainties.pdf
      vector_field_plot: reports/pons_model1/vector_field.pdf
      biomarker_selection_plot: reports/pons_model1/markers_selection_scatterplot.tif
      biomarker_phaseportrait_plot: reports/pons_model1/markers_phaseportrait.pdf
    pons_model2:
      path: reports/pons_model2
      shared_time_plot: reports/pons_model2/shared_time.pdf
      volcano_plot: reports/pons_model2/volcano.pdf
      rainbow_plot: reports/pons_model2/rainbow.pdf
      uncertainty_param_plot: reports/pons_model2/param_uncertainties.pdf
      vector_field_plot: reports/pons_model2/vector_field.pdf
      biomarker_selection_plot: reports/pons_model2/markers_selection_scatterplot.tif
      biomarker_phaseportrait_plot: reports/pons_model2/markers_phaseportrait.pdf
  figure2:
    tag: fig2
    path: reports/fig2
    tif_path: reports/fig2/fig2_raw_gene_selection_model1.tif
    svg_path: reports/fig2/fig2_raw_gene_selection_model1.svg
    biomarker_selection_path: reports/fig2/fig2_markers_selection_scatterplot.tif
    biomarker_phaseportrait_path: reports/fig2/fig2_markers_phaseportrait.pdf
    uncertainty_param_plot_path: reports/fig2/fig2_param_uncertainties.pdf
    uncertainty_magnitude_plot_path: reports/fig2/fig2_magnitude_uncertainties.pdf
    pancreas_model1:
      shared_time_plot: reports/fig2/fig2_pancreas_shared_time.pdf
      volcano_plot: reports/fig2/fig2_pancreas_volcano.pdf
      rainbow_plot: reports/fig2/fig2_pancreas_rainbow.pdf
      vector_field_plot: reports/fig2/fig2_pancreas_vector_field.pdf
  figureS3:
    tag: figS3
    path: reports/figS3
    tif_path: reports/figS3/figS3_raw_gene_selection_model2.tif
    svg_path: reports/figS3/figS3_raw_gene_selection_model2.svg
