/volcano.pdf.png
/rainbow.pdf.png
/vector_field.pdf.png
/fig2_part1_plot.pdf.png
/fig2_part2_plot.pdf.png
/clusters_violin_lin.pdf.png
/clusters_violin_log.pdf.png
/param_uncertainties.pdf.png
posterior_phase_portraits/
