name: Labeler

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
      - dev

jobs:
  labeler:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@de749cf181958193cb7debf1a9c5bb28922f3e1b # ratchet:crazy-max/ghaction-github-labeler@v5.0.0
        with:
          skip-delete: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
