name: Manuscript
on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: "Run with tmate.io debugging enabled"
        required: true
        type: boolean
        default: false
      diff_enabled:
        description: "Compute document changes with latexdiff"
        required: true
        type: boolean
        default: true
  push:
    paths:
      - ".github/workflows/manuscript.yaml"
      - "reproducibility/manuscript/**"

defaults:
  run:
    shell: bash

jobs:
  render:
    runs-on: ubuntu-latest
    concurrency:
      group: render-${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.event.pull_request.number || github.ref_name }}
      cancel-in-progress: true
    steps:
      - name: Check out repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
      - name: Setup dvc
        uses: iterative/setup-dvc@68c55926a8ce27c2d4fcf7db61149ee64cf4eeb9 # v1
        with:
          version: "3.53.2"
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@c1b50d36cf3c22b3dc7e530bd1b36634e824e545 # v2
        with:
          tinytex: true
      - name: Setup tmate debug session
        if: ${{ inputs.debug_enabled == 'true' }}
        uses: mxschmitt/action-tmate@a283f9441d2d96eb62436dc46d7014f5d357ac22 # v3
      - name: Render
        run: |
          make -C reproducibility/manuscript render
      - name: Compute diff
        # if: ${{ inputs.diff_enabled == 'true' }}
        continue-on-error: true
        run: |
          export PATH="/home/runner/.TinyTeX/bin/x86_64-linux:$PATH"
          tlmgr install git-latexdiff latexdiff latexpand
          make -C reproducibility/manuscript latexdiff
      - name: Upload artifacts
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4
        with:
          name: manuscript-${{ github.ref_name }}-${{ github.sha }}
          path: |
            reproducibility/manuscript/manuscript.*
            reproducibility/manuscript/v2*.*
            reproducibility/manuscript/*.bib
